<!DOCTYPE html>
<html lang="en"{% block htmlattr %}{% endblock %}>
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Dhruv Gramopadhye">
  <meta name="description" content="{{ config.description }}"/>
  <meta name="keywords" content="dgramop, Dhruv Gramopadhye"/>
  <link rel="icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
</head>
<body{% block bodyattr %}{% endblock %}>
  {% block content %}{% endblock %}
</body>
</html>
